<!DOCTYPE html>
<html ng-app="tabRunner">
  <head>
    <script type="text/javascript" language="javascript" type="application/javascript" src="angular.min.js"></script>
    <script type="text/javascript" language="javascript" type="application/javascript" src="test_experiment2.js"></script>
	<link rel="stylesheet" type="text/css" href="pretty.css" />
  </head>
  <body class="list-group" ng-controller="SetupController as setUp">
    <header>
      <h1 class="text-center">Mock Trial TabRunner</h1>
	  <h2 ng-show="setUp.showAllTeams">Tournament {{setUp.newTourn.tournName}}</h2>
    </header>
	
	<div id="settingUp" ng-hide="setUp.hideSetupForm">
		<form name="setUpForm" class="teamCard">
			Tournament Name: <input type="text" id="teamName" placeholder="ex. Party Like a Mock Star 2090" ng-model="setUp.newTourn.tournName"/><br><br>
			Total Teams: <input type="number" id="totalTeams" placeholder="ex. 20" ng-model="setUp.newTourn.totalTeams"><br><br>
			<input type="button" value="Submit" id="submit_button" class="button" ng-click="setUp.validate(setUp.newTourn.tournName, setUp.newTourn.totalTeams)">
			<br>
			<div id="errorMessage" class="errorMessage"></div>
		</form>
	</div>
	
	<div id="allTeams" ng-show="setUp.showAllTeams">
		<input type="button" ng-click="setUp.testR1()" class="button" value="Submit Round 1" id="startR1_button">
		<div id="teamChoicesSummary" class="statusMessage" ng-show="setUp.showChoices">Putting teams together...</div>
		<table cellspacing="0" cellpadding="0" id="teamSetUpTable">
			<colgroup span="2"></colgroup>

			<tbody>
				<tr class="status">
					    <th scope="col" title="Plaintiff"><h3>Plaintiff</h3></th>
						<th scope="col" title="Defense"><h3>Defense</h3></th>
				</tr>
				
				<tr ng-repeat="chosenPairings in setUp.pairings">
					<td ng-repeat="team in chosenPairings">
							<form id="teamCardForm">
								<div id="teamCard" class="teamCard">
									<b>Team number</b> {{team}}<br>
									<b>Team name: </b> <input type="text" id="teamName{{team}}" ng-model="team.name" placeholder="ex. Macalester Mock Trial Team"></input><br>
									<b>Team ID: </b> <input type="text" id="teamName{{team}}" placeholder="ex. 99999"></input><br><br>
								</div>
							</form>
					</td>
				</tr>
			</tbody>
	</div>

	<div id="pairTeams" ng-show=" ">
	
	</div>
	
	<div id="faceOff" ng-show=" ">
	
	</div>
	
	<div id="tabSummary" ng-show=" ">
		<!--build table-->
	</div>
	
  </body>
</html>
