<!DOCTYPE html>
<html ng-app="tabRunner">
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="test.js"></script>
	<link rel="stylesheet" type="text/css" href="pretty.css" />
  </head>
  <body class="list-group" ng-controller="SetupController as setUp">
    <header>
      <h1 class="text-center">Mock Trial TabRunner</h1>
	  <h2 ng-show="setUp.showAllTeams">{{setUp.newTourn.tournName}}</h2>
    </header>
	
	<div id="settingUp" ng-hide="setUp.hideSetupForm">
		<form name="setUpForm">
			Tournament Name: <input type="text" id="teamName" placeholder="ex. Party Like a Mock Star 2090" ng-model="setUp.newTourn.tournName"/><br><br>
			Total Teams: <input type="number" id="totalTeams" placeholder="ex. 20" ng-model="setUp.newTourn.totalTeams"><br><br>
			<input type="button" value="Submit" id="submit_button" ng-click="setUp.validate(setUp.newTourn.tournName, setUp.newTourn.totalTeams)">
			<br>
			<div id="errorMessage" class="errorMessage"></div>
		</form>
	</div>
	
	<div id="allTeams" ng-show="setUp.showAllTeams" ng-repeat="chosenNum in setUp.list">
		<ng-form name="allTeamsForm">
			<div id="teamCard" class="teamCard">
				<b>Team number</b> {{chosenNum}}<br>
				<b>Team name: </b> <input type="text" id="teamName{{chosenNum}}" placeholder="ex. Macalester Mock Trial Team"></input><br>
				<b>Team ID: </b> <input type="text" id="teamName{{chosenNum}}" placeholder="ex. 99999"></input><br><br>
			</div>
		</ng-form>
	</div>

	<div id="pairTeams" ng-show=" ">
	
	</div>
	
	<div id="faceOff" ng-show=" ">
	
	</div>
	
	<div id="tabSummary" ng-show=" ">
		<!--build table-->
	</div>
	
  </body>
</html>
