<!DOCTYPE html>
<html ng-app="tabRunner">
  <head>
    <link rel="stylesheet" type="text/css" href="resources/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/TrackYourTrials.css" /> 
	<script type="text/javascript" language="javascript" type="application/javascript" src="scripts/angular.min.js"></script>
    <script type="text/javascript" language="javascript" type="application/javascript" src="scripts/test_experiment2.js"></script>
			
	<meta charset="utf-8">
  </head>
  
  <body class="list-group" ng-controller="SetupController as setUp">
  
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="C:/Users/hp/Desktop/CAGE/FrontPage.html">TrialTracker</a>
            </div>
			
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
					<li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  
	<!--Page Content-->
  	<header class = "page-title">
	  <h1 ng-show="setUp.showAllTeams">Tournament {{setUp.newTourn.tournName}}</h1>
    </header>
	
	<div class="container">
            <div class="row">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
            </div>
    </div>
	
	<div class="row">
	<hr class="section-heading-spacer">
		<div class="clearfix"></div>
			<div id="settingUp" ng-hide="setUp.hideSetupForm">
				<form name="setUpForm" class="setUpCard">
					Tournament Name: <input type="text" id="teamName" placeholder="ex. Party Like a Mock Star 2090" ng-model="setUp.newTourn.tournName"/><br><br>
					Total Teams: <input type="number" id="totalTeams" placeholder="ex. 20" ng-model="setUp.newTourn.totalTeams"><br><br>
					<input type="button" value="Submit" id="submit_button" class="button" ng-click="setUp.validate(setUp.newTourn.tournName, setUp.newTourn.totalTeams)">
				<br>
				<div id="errorMessage" class="errorMessage"></div>
				</form>
			</div>
	</div>

		
	<div id="allTeams">
			<div id="teamChoicesSummary" class="statusMessage" ng-show="setUp.showChoices">
			<table cellspacing="0" cellpadding="0" id="teamRanktable" class="setTeamCard">
				<colgroup span="2"></colgroup>
				<tbody>
					<tr class="status">
					    <th scope="col" title="Plaintiff" style="text-align:center"><h3>Plaintiff</h3></th>
						<th scope="col" title="Defense" style="text-align:center"><h3>Defense</h3></th>
					</tr>
				
					<tr ng-repeat="pair in setUp.listAllTeams">
						<td ng-repeat="team in pair">
							<form id="resultsForm" class="teamCard">
								<div id="teamCard" >
									<b>Team Name:</b> {{team.name}} <br>
									<b>Team Number:</b> {{team.uniqueID}} <br>
									<b>Team Record:</b> {{team.record}} <br>
									<b>Team CS:</b> {{team.combinedStr}} <br>
									<b>Team PD:</b> {{team.pointDiff}} <br>
									<b>Ballot 1 result: </b> <input type="number" ng-model="team.temp1" id="ballot1pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									<b>Ballot 2 result: </b> <input type="number" ng-model="team.temp2" id="ballot2pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									<input type="button" ng-show = "team.button" value="Submit" id="submit_button" class="button" ng-click="setUp.addPoints(team)">
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>	
			<input type="button" ng-click="setUp.pairTeams(setUp.listAllTeams)" class="button" value="Submit Round" id="startR_button">
		</div>
		
		<div id="teamChoicesSummary" class="statusMessage" ng-show="setUp.showPairings">
			<table cellspacing="0" cellpadding="0" id="teamRanktable" class="setTeamCard">
				<colgroup span="2"></colgroup>
				<tbody>
					<tr class="status">
					    <th scope="col" title="Plaintiff" style="text-align:center"><h3>Plaintiff</h3></th>
						<th scope="col" title="Defense" style="text-align:center"><h3>Defense</h3></th>
					</tr>
					<tr ng-repeat="pair in setUp.listAllTeams">
						<td ng-repeat="team in pair">
							<form id="resultsForm" class="teamCard">
								<div id="teamCard" >
									<b>Team Name:</b> {{team.name}} <br>
									<b>Team Number:</b> {{team.uniqueID}} <br>
									<b>Team Record:</b> {{team.record}} <br>
									<b>Team CS:</b> {{team.combinedStr}} <br>
									<b>Team PD:</b> {{team.pointDiff}} <br>
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="button" ng-click="submitTeams()" class="button" value="Next Round" id="startR_button">	
		</div>
		
	</div>

	<div id="enterTeams" ng-show="setUp.showAllTeams" >
		<table cellspacing="0" cellpadding="0" id="teamSetUpTable" class="setTeamCard">
			<colgroup span="2"></colgroup>
			<tbody>
				<tr class="status" class="statusCenter">
					    <th scope="col" title="Plaintiff" style="text-align:center"><h3>Plaintiff</h3></th>
						<th scope="col" title="Defense" style="text-align:center"><h3>Defense</h3></th>
				</tr>
				<tr ng-repeat="chosenPairings in setUp.listAllTeams">
					<td ng-repeat="team in chosenPairings">
							<form id="teamCardForm" class="teamCard">
								<div id="teamCard">
									<b>Team name: </b> <input type="text" id="teamName{{team.number}}" ng-model = "team.name" placeholder="ex. Macalester Mock Trial Team"></input><br>
									<b>Team ID: </b> <input type="text" id="teamID{{team.number}}" ng-model = "team.uniqueID" placeholder="ex. 99999"></input><br><br>
								</div>
							</form>
					</td>
				</tr>
			</tbody>
		</table>	
		<input type="button" ng-click="setUp.submitTeams(setUp.listAllTeams)" class="button" value="Submit Round" id="startR_button">
	</div>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>	
	
  </body>
  
</html>
