/*start of CSS code from landing page: http://startbootstrap.com/template-overviews/landing-page/*/
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8; /*originally f8f8f8*/
    background: url(../resources/img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

/*end of CSS code from landing page*/

.page-title{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	}

.button {
   border-top: 1px solid #ffffff;
   background: #E4E4F4;
   background: -webkit-gradient(linear, left top, left bottom, from(#CDCDDC), to(#E4E4F4));
   background: -webkit-linear-gradient(top, #CDCDDC, #E4E4F4);
   background: -moz-linear-gradient(top, #CDCDDC, #E4E4F4);
   background: -ms-linear-gradient(top, #CDCDDC, #E4E4F4);
   background: -o-linear-gradient(top, #CDCDDC, #E4E4F4);
   padding: 5.5px 11px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #262626;
   font-size: 13px;
   font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #c9c9c9;
   background: #c9c9c9;
   color: #383838;
   }
.button:active {
   border-top-color: #f5d42e;
   background: #E4E4F4;
   }
   
input[type="button"]{
	display: block;
	margin: 0 auto; 
}

form.setUpCard{ /*causing an issue with spacing and centering of text within cards I think*/
	margin: 0 auto;
}

table.setTeamCard{
	margin: 0 auto;
}

.mainView{
	min-height: 72%;
	/*margin: 30px 0px;*/ 
}

.setUpCard{
	background: #F4F4F4;
	width: 500px; border: 2px solid;
	border-width: 6px; border-radius: 30px;
	border-color: #FFFFFF;
	padding: 12px 12px;
	margin: 30px 30px;
	font-size: 15pt;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center; 
}

.teamCard{
	background: #F4F4F4;
	width: 350px; border: 2px solid;
	border-width: 6px; border-radius: 30px;
	border-color: #FFFFFF;
	padding: 12px 12px;
	margin: 30px 30px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12pt;
}

.errorMessage{
	color: red;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 15px 0px;
	font-size: 10pt;
}


.statusMessage{
	color: black;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 15px 10px 10px 10px;
	font-size: 11pt;
}

input.ng-dirty.ng-invalid{
	border: 1px solid red;
}
