/*start of CSS code from landing page*/
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8; /*originally f8f8f8*/
    background: url(../resources/img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
display: block;
    float: left;
    width: 200px;
}


.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../resources/img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.carousel-inner{
	width:100%;
	max-height: 500px !important;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


/*end of CSS code from landing page*/

.page-title{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	}

.button {
   border-top: 1px solid #ffffff;
   background: #CACAE8;
   background: -webkit-gradient(linear, left top, left bottom, from(#A4A4AC), to(#CACAE8));
   background: -webkit-linear-gradient(top, #A4A4AC, #CACAE8);
   background: -moz-linear-gradient(top, #A4A4AC, #CACAE8);
   background: -ms-linear-gradient(top, #A4A4AC, #CACAE8);
   background: -o-linear-gradient(top, #A4A4AC, #CACAE8);
   padding: 5.5px 11px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #262626;
   font-size: 13px;
   font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #c9c9c9;
   background: #c9c9c9;
   color: #383838;
   }
.button:active {
   border-top-color: #f5d42e;
   background: #CACAE8;
   }
   
input[type="button"]{
	display: block;
	margin: 0 auto; 
}

form.setUpCard{ /*causing an issue with spacing and centering of text within cards I think*/
	margin: 0 auto;
}

table.setTeamCard{
	margin: 0 auto;
}
     
.setUpCard{
	background: #b6b6b6;
	width: 500px; border: 2px solid;
	border-width: 6px; border-radius: 30px;
	border-color: #FFFFFF;
	padding: 12px 12px;
	margin: 30px 30px;
	font-size: 15pt;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

.teamCard{
	background: #b6b6b6;
	width: 350px; border: 2px solid;
	border-width: 6px; border-radius: 30px;
	border-color: #FFFFFF;
	padding: 12px 12px;
	margin: 30px 30px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12pt;
}

.errorMessage{
	color: red;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 15px 0px;
	font-size: 10pt;
}


.statusMessage{
	color: black;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 15px 10px 10px 10px;
	font-size: 11pt;
}
