<h1 align="center"> Tournament {{name}} </h1>
	<div id="teamChoicesSummary" style="position:absolute; left: 16%;" ng-init="showTeams()">
		<input type="button" class="button" value="Submit Results" id="startR_button">
			<table cellspacing="0" cellpadding="0" id="teamRanktable">
				<colgroup span="2"></colgroup>
				<tbody>
					<tr class="status">
					    <th scope="col" title="Plaintiff"><h3>Plaintiff</h3></th>
						<th scope="col" title="Defense"><h3>Defense</h3></th>
					</tr>
					<tr ng-repeat="pair in listAllTeams">
						<td ng-repeat="team in pair">
							<form id="resultsForm">
								<div id="teamCard" class="teamCard">
									<b>Team Name:</b> {{team.name}} <br>
									<b>Team Number:</b> {{team.uniqueID}} <br>
									<b>Team Record:</b> {{team.record}} <br>
									<b>Team CS:</b> {{team.combinedStr}} <br>
									<b>Team PD:</b> {{team.pointDiff}} <br>
									<b>Ballot 1 result: </b> <input type="number" ng-model="team.temp1" id="ballot1pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									<b>Ballot 2 result: </b> <input type="number" ng-model="team.temp2" id="ballot2pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									<input type="button" ng-show = "team.button" value="Submit" id="submit_button" class="button" ng-click="addPoints(team)">
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>	
	</div>
	