<h1 align="center">{{name}} </h1>
	<div id="teamChoicesSummary" ng-init="showTeams()">
			<table cellspacing="0" cellpadding="0" id="teamRanktable" class="setTeamCard">
				<colgroup span="2"></colgroup>
				<tbody>
					<tr class="status">
					    <th scope="col" title="Plaintiff" style="text-align:center"><h3>Plaintiff</h3></th>
						<th scope="col" title="Defense" style="text-align:center"><h3>Defense</h3></th>
					</tr>
					<tr ng-repeat="pair in this.listAllTeams">
						<td ng-repeat="team in pair">
							<form id="resultsForm" class="teamCard">
								<div id="teamCard" >
									<b>Team Name:</b> {{team.name}} <br>
									<b>Team Number:</b> {{team.uniqueID}} <br>
									<b>Team Record:</b> {{team.record}} <br>
									<b>Team CS:</b> {{team.combinedStr}} <br>
									<b>Team PD:</b> {{team.pointDiff}} <br>
									<p ng-show = "team.button">
									<b>Ballot 1 result: </b> <input type="number" ng-model="team.temp1" id="ballot1pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									<b>Ballot 2 result: </b> <input type="number" ng-model="team.temp2" id="ballot2pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									<input type="button" value="Submit" id="submit_button" class="button" ng-click="addPoints(team)"> 
									</p>
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="button" class="button" value="Pair Round 2" ng-click="saveRound()" ui-sref="screen5" id="startR_button">	
	</div>
	