<h1 align="center">{{name}} </h1>
	<div id="teamChoicesSummary" ng-init="pairTeams()">
			<table cellspacing="0" cellpadding="0" id="teamRanktable">
				<colgroup span="2"></colgroup>
				<tbody>
					<tr class="status">
					    <th scope="col" title="Plaintiff" style="text-align:center"><h3>Plaintiff</h3></th>
						<th scope="col" title="Defense" style="text-align:center"><h3>Defense</h3></th>
					</tr>
					<tr ng-repeat="pair in this.listAllTeams2">
						<td ng-repeat="team in pair">
							<form id="resultsForm" class="teamCard">
								<div id="teamCard" >
									<b>Team Name:</b> {{team.name}} <br>
									<b>Team Number:</b> {{team.uniqueID}} <br>
									<b>Team Record:</b> {{team.record}} <br>
									<b>Team CS:</b> {{team.combinedStr}} <br>
									<b>Team PD:</b> {{team.pointDiff}} <br>
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>	
	</div>
	