	<h1>About us...</h1>
	<h2 class="lead">Team CAGE is a small, but growing software development team. This project started out as a semester-long assignment at 
	Macalester College's Software Design & Development class but has come to be so much more. Click on the photos below to read each of our members' bio. </h2>
	
	<!--My idea here is that we'll have photos of ourselves and when you click on a photo, the bio YOU have to write (because IDK what you want to showcase about yourself) will--
	expand allowing viewers to read it. I'm leaning towards having sectagonal (6 sided IDK the word for it rn I'm coding on a plane don't judge me) border for the images.
	I, for some reason (probably sleep depravation) am leaning towards an orange border. Which doesn't go with the look of our thing but w/e. Also, I have things in such an order 
	to spell out CAGE-->
	<div>
		<p>Cara is </p>
	</div>
	
	<div>
		<p>Amy is </p>
	</div>
	
	<div>
		<p>Gozong is</p>
	</div>
	
	<div>
		<p>Elliott is</p>
	</div>