<h1 align="center">{{name}} - Enter Round {{round}} Results</h1>
<p align="center" ng-show = "round == 1">Coin Flip Results: 
	<select ng-model = "flip1" ng-options="side for side in coinflip" ></select>
</p>
	<div id="teamChoicesSummary" ng-init="showTeams()">
			<table cellspacing="0" cellpadding="0" id="teamRanktable" class="setTeamCard">
				<colgroup span="2"></colgroup>
				<tbody>
					<tr class="status">
					    <th scope="col" style="text-align:center" title="Plaintiff"><h3>Plaintiff</h3></th>
						<th scope="col" style="text-align:center" title="Defense"><h3>Defense</h3></th>
					</tr>
					<tr ng-repeat="pair in this.pairings">
						<td>
							<form id="resultsFormp" class="teamCard">
								<div id="teamCard" >
									<b>Team Name:</b> {{pair.pTeam.name}} <br>
									<b>Team Number:</b> {{pair.pTeam.uniqueID}} <br>
									<b>Team Record:</b> {{pair.pTeam.record + pair.pTeam.tempRecord}} <br>
									<b>Team CS:</b> {{pair.pTeam.combinedStr}} <br>
									<b>Team PD:</b> {{pair.pTeam.pointDiff + pair.pTeam.temp1 + pair.pTeam.temp2}} <br>
									<p ng-show = "pair.pTeam.button">
									<b>Ballots Won:</b> <select ng-model = "pair.pTeam.tempRecord" ng-options="value for value in values" ></select> <br>
									<b>Ballot 1 result: </b> <input type="number" ng-model="pair.pTeam.temp1" id="ballot1pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									<b>Ballot 2 result: </b> <input type="number" ng-model="pair.pTeam.temp2" id="ballot2pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									</p>
									<input type="button" ng-show = "pair.pTeam.button" value="Submit" id="submit_button" class="button" ng-click="addPoints(pair.pTeam)">
									<input type="button" ng-show = "!pair.pTeam.button" value="Edit" id="submit_button" class="button" ng-click="editPoints(pair.pTeam)">
								</div>
							</form>
						</td>
						<td>
							<form id="resultsFormd" class="teamCard">
								<div id="teamCard" >
									<b>Team Name:</b> {{pair.dTeam.name}} <br>
									<b>Team Number:</b> {{pair.dTeam.uniqueID}} <br>
									<b>Team Record:</b> {{pair.dTeam.record + pair.dTeam.tempRecord}} <br>
									<b>Team CS:</b> {{pair.dTeam.combinedStr}} <br>
									<b>Team PD:</b> {{pair.dTeam.pointDiff + pair.dTeam.temp1 + pair.dTeam.temp2}} <br>
									<p ng-show = "pair.dTeam.button">
									<b>Ballots Won:</b> <select ng-model = "pair.dTeam.tempRecord" ng-options="value for value in values" ></select> <br>
									<b>Ballot 1 result: </b> <input type="number" ng-model="pair.dTeam.temp1" id="ballot1pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									<b>Ballot 2 result: </b> <input type="number" ng-model="pair.dTeam.temp2" id="ballot2pd" min="-126" max="126" placeholder="-126 to +126"></input> <br>
									</p>
									<input type="button" ng-show = "pair.dTeam.button" value="Submit" id="submit_button" class="button" ng-click="addPoints(pair.dTeam)"> 
									<input type="button" ng-show = "!pair.dTeam.button" value="Edit" id="submit_button" class="button" ng-click="editPoints(pair.dTeam)">
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		<input type="button" ng-show = "round != 4" class="button" value="Pair Round {{round + 1}}" ng-click="saveRound()" ui-sref="screen5" id="startR_button">
		<input type="button" ng-show = "round == 4" class="button" value="Show results" ng-click="saveRound()" ui-sref="screen6" id="startFinalButton"">
	</div>
	