<h1 align="center">{{name}} - Round {{round}} Pairings</h1>
	<div id="teamChoicesSummary" ng-init="pairTeams()">
			<table cellspacing="0" cellpadding="0" id="teamRanktable" class="setTeamCard">
				<colgroup span="2"></colgroup>
				<tbody>
					<tr class="status">
					    <th scope="col" title="Plaintiff" style="text-align:center"><h3>Plaintiff</h3></th>
						<th scope="col" title="Defense" style="text-align:center"><h3>Defense</h3></th>
					</tr>
					<tr ng-repeat="pair in this.newPairings">
						<p ng-show = "pair.isImpermissible"> Impermissible! </p>
						<td >
							<form id="resultsFormP" class="teamCard">
								<div id="teamCard" >
									<b>Team Name:</b> {{pair.pTeam.name}} <br>
									<b>Team Number:</b> {{pair.pTeam.uniqueID}} <br>
									<b>Team Record:</b> {{pair.pTeam.record}} <br>
									<b>Team CS:</b> {{pair.pTeam.combinedStr}} <br>
									<b>Team PD:</b> {{pair.pTeam.pointDiff}} <br>
								</div>
							</form>
						</td>
						<td >
							<form id="resultsFormD" class="teamCard">
								<div id="teamCard" >
									<b>Team Name:</b> {{pair.dTeam.name}} <br>
									<b>Team Number:</b> {{pair.dTeam.uniqueID}} <br>
									<b>Team Record:</b> {{pair.dTeam.record}} <br>
									<b>Team CS:</b> {{pair.dTeam.combinedStr}} <br>
									<b>Team PD:</b> {{pair.dTeam.pointDiff}} <br>
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		<input type="button" class="button" value="Enter Round {{round}} Results" ui-sref="screen4" id="startR_button">	
		<br></br>
	</div>
	