<h1 align="center">{{name}}</h1>
<h3 align="center">Enter Team Information for Round {{round}} Pairings...</h3>
	<div id="enterTeams" ng-init = "configTeams()" class="cardTableTop">
			<table cellspacing="0" cellpadding="0" id="teamSetUpTable" class="setTeamCard">
				<colgroup span="2"></colgroup>
				<tbody>
					<tr class="status">
						<th scope="col" title="Plaintiff" style="text-align:center"><h3>Plaintiff</h3></th>
						<th scope="col" title="Defense" style="text-align:center"><h3>Defense</h3></th>
					</tr>
					<tr ng-repeat="pair in pairings"> <!--Don't have ID attributes in repeat-->
					<td>
						<form id="teamCardFormP" class="teamCard form-horizontal">
							<div class="form-group">
								<label for="TeamNumber" class="col-sm-2 control-label"> Team {{pair.pTeam.rank+1}} </label> 
							</div>
							<div id="teamCard" class="form-group">
								<label for="TeamName" class="col-sm-4 control-label"> Team Name: </label>
								<div class="col-sm-4">
									<input type="text" id="teamName{{pair.pTeam.rank}}" ng-model = "pair.pTeam.name" placeholder="ex. Macalester Mock Trial Team" class="form-control"></input>
								</div>
							</div>
							<div  class="form-group">
								<label for="TeamID" class="col-sm-4 control-label"> Team ID: </label>
								<div class="col-sm-4">
									<input type="text" id="teamID{{pair.pTeam.rank}}" ng-model = "pair.pTeam.uniqueID" placeholder="ex. 99999" class="form-control"></input>
								</div>
							</div>
						</form>
					</td>
					<td >
						<form id="teamCardFormD" class="teamCard form-horizontal">
							<div class="form-group">
								<label for="TeamNumber" class="col-sm-2 control-label"> Team {{pair.dTeam.rank+1}} </label> 
							</div>
							<div id="teamCard" class="form-group">
								<label for="TeamName" class="col-sm-4 control-label"> Team Name: </label>
								<div class="col-sm-4">
									<input type="text" id="teamName{{pair.dTeam.rank}}" ng-model = "pair.dTeam.name" placeholder="ex. Macalester Mock Trial Team" class="form-control"></input>
								</div>
							</div>
							<div  class="form-group">
								<label for="TeamID" class="col-sm-4 control-label"> Team ID: </label>
								<div class="col-sm-4">
									<input type="text" id="teamID{{pair.dTeam.rank}}" ng-model = "pair.dTeam.uniqueID" placeholder="ex. 99999" class="form-control"></input>
								</div>
							</div>
						</form>
					<!--
						<form id="teamCardFormD" class="teamCard">
							<div id="teamCard">
								<label><b>Team </label>{{pair.dTeam.number+1}} </b><br>
								<label><b>Team name: </b> </label><input type="text" id="teamName{{pair.dTeam.number}}" ng-model = "pair.dTeam.name" placeholder="ex. Macalester Mock Trial Team"></input><br>
								<label><b>Team ID: </b> </label><input type="text" id="teamID{{pair.dTeam.number}}" ng-model = "pair.dTeam.uniqueID" placeholder="ex. 99999"></input><br><br>
							</div>
						</form>
					-->
					</td>
				</tr>
			</tbody>
		</table>
		<input type="button" class="btn btn-default" ng-click = "startR1()" ui-sref="screen4" value="Start Round 1" id="startR_button">
		<button class="button" ng-disabled="teamCardFormD.$invalid || teamCardFormP.$invalid" ng-click = "startR1()" ui-sref="screen4">Start Round 1</button>
		<br></br>
		</form>
	</div>
<br></br>
